<ng-container *ngIf="(tasks$ | async)?.length; else noTask">
  <ion-list class="task-list"
            lines="none">
    <ion-item *ngFor="let task of tasks$ | async; trackBy: trackByFn"
              class="task-item"
              [class.is-done]="task | taskIsDone">
        <mo-checkbox [checked]="task | taskIsDone"
                      (checkedChange)="updateTaskStatus(task, $event)"></mo-checkbox>

        <div class="task-item-title ion-activatable ripple-parent"
              (click)="editTask(task)">{{ task.title }}</div> 
    </ion-item>
  </ion-list>
</ng-container>

<ng-template #noTask>
  <div class="project-noTask">
  </div>
</ng-template>

<ion-item class="task-addItem"
          lines="none">
  <ion-input #newTaskNameInput
             class="task-addItem-input"
             placeholder="I want to..."
             [(ngModel)]="newTaskName"></ion-input>

  <ion-button class="task-addItem-btn"
              color="tertiary"
              shape="round"
              [disabled]="!newTaskName"
              (click)="createTask()">
    <ion-icon slot="icon-only"
              name="arrow-up-outline"></ion-icon>
  </ion-button>
</ion-item>
