<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      {{ task ? 'Edit task' : 'New task' }}
    </ion-title>
  </ion-toolbar>  
</ion-header>

<ion-content>
  <main class="task-edit-content"
        [formGroup]="fg">
    <ion-item>
      <ion-label position="floating">Task Name</ion-label>           
      <ion-input formControlName="title"></ion-input>
    </ion-item>

    <ion-item>          
      <ion-label position="floating">Notes</ion-label>
      <ion-textarea formControlName="note"
                    [rows]="2"
                    [autoGrow]="true"></ion-textarea>
    </ion-item>
  </main>

</ion-content>

<ion-footer class="ion-no-border task-edit-footer">
  <ion-button expand="block"
              [disabled]="fg.invalid"
              (click)="save()">
    Save
  </ion-button>

  <ion-button *ngIf="task && !(task | taskIsDone)"
              class="task-complete-btn"
              color="tertiary"
              expand="block"
              (click)="completeTask()">
    Complete task
  </ion-button>

  <ion-button *ngIf="task"
              class="task-delete-btn"
              color="secondary"
              expand="block"
              (click)="deleteTask()">
    Delete task
  </ion-button>
</ion-footer>
