.task-edit-header {
  margin-top: 24px;
  margin-left: 16px;
  margin-right: 16px;
}

.task-edit-header-title {
  color: #353535;
  font-size: 1.2rem;
}

.task-edit-close-icon {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 28px;
  cursor: pointer;
  color: #353535;
}

.task-edit-content {
  margin: 16px;
}

.task-edit-footer {
  padding: 24px 16px; 
}

ion-item {
  --padding-start: 0;
  --padding-end: 0;
  --highlight-background: #e2e2e2;

}

.item-has-focus{
  --highlight-background: #353535;
}

.task-complete-btn {
  margin-top: 28px;
}

.task-delete-btn {
  margin-top: 12px;
}