<ion-content [fullscreen]="true">
  <header class="task-edit-header">
    <h1 class="task-edit-header-title">{{ task ? 'Edit Task' : 'New Task' }}</h1>

    <ion-icon class="task-edit-close-icon"
              name="close"
              (click)="dismiss()"></ion-icon>
  </header>

  <main class="task-edit-content"
        [formGroup]="fg">
    <ion-item>
      <ion-label position="floating">Task Name</ion-label>           
      <ion-input formControlName="title"></ion-input>
    </ion-item>

    <ion-item>          
      <ion-label position="floating">Notes</ion-label>
      <ion-textarea formControlName="note"></ion-textarea>
    </ion-item>
  </main>

  <footer class="task-edit-footer">
    <ion-button expand="block"
                shape="round"
                [disabled]="fg.invalid"
                (click)="save()">
      Save
    </ion-button>
  </footer>
</ion-content>
