.task-edit-header {
  margin: 52px 16px 16px;
}

.task-edit-header-title {
  color: #353535;
  font-weight: 600;
}

.task-edit-close-icon {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 28px;
  cursor: pointer;
  color: #353535;
}

.task-edit-content {
  margin: 16px;
}

.task-edit-footer {
  margin: 24px 16px; 
}

ion-item {
  --padding-start: 0;
  --padding-end: 0;
  --highlight-background: #e2e2e2;

}

.item-has-focus{
  --highlight-background: #353535;
}