<ion-content [fullscreen]="true">
  <header class="new-task-header">
    <h1 class="new-task-header-title">Create New Task</h1>

    <ion-icon class="new-task-close-icon"
              name="close" (click)="dismiss()"></ion-icon>
  </header>

  <main class="new-task-content"
        [formGroup]="fg">
    <ion-item>
      <ion-label position="floating">Task Name</ion-label>           
      <ion-input formControlName="title"></ion-input>
    </ion-item>

    <ion-item>          
      <ion-label position="floating">Notes</ion-label>
      <ion-textarea formControlName="note"></ion-textarea>
    </ion-item>
  </main>

  <footer class="new-task-footer">
    <ion-button expand="block"
                [disabled]="fg.invalid"
                (click)="save()">Create Task</ion-button>
  </footer>
</ion-content>
