.project-edit-header {
  margin-top: 24px;
  margin-left: 16px;
  margin-right: 16px;
}

.project-edit-header-title {
  color: #353535;
  font-size: 1.2rem;
}

.project-edit-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 52px;
}

.project-edit-footer {
  padding: 24px 16px; 
}

ion-item {
  --padding-start: 0;
  --padding-end: 0;
  --highlight-background: #e2e2e2;
  font-size: 1.2rem;
}

.item-has-focus {
  --highlight-background: #353535;
}

.project-edit-icon-picker {
  display: block;
  margin-top: 20px;
}

.project-edit-projectImage {
  height: 140px;
  width: 140px;
  margin-top: 32px;
  margin-bottom: 16px;
}