<ion-content [fullscreen]="true">
  <header class="project-edit-header">
    <h1 class="project-edit-header-title">
      {{ project ? 'Edit Project' : 'New project' }}
    </h1>

    <ion-icon class="project-edit-close-icon"
              name="close"
              (click)="dismiss()"></ion-icon>
  </header>

  <main class="project-edit-content"
        [formGroup]="fg">
    <ion-item>
      <ion-label position="floating">Project Name</ion-label>           
      <ion-input formControlName="title"></ion-input>
    </ion-item>

    <app-icon-picker class="project-edit-icon-picker"
                     [(selectedIconName)]="iconName"></app-icon-picker>
  </main>

  <footer class="project-edit-footer">
    <ion-button expand="block"
                shape="round"
                [disabled]="fg.invalid"
                (click)="save()">
      Save
    </ion-button>
  </footer>
</ion-content>
