<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <main class="project-edit-content" [formGroup]="fg">
    <app-project-image
      class="project-edit-projectImage"
      [projectImage]="imageName"
      (click)="pickImage()">
      <div class="project-edit-projectImage-btn">
        <ion-icon name="pencil"></ion-icon>
      </div>
    </app-project-image>

    <ion-item class="project-edit-name-item">
      <ion-input formControlName="title" placeholder="List Name"></ion-input>
    </ion-item>

    <div class="project-edit-name-label">
      What would you like to name your list ?
    </div>
  </main>
</ion-content>

<ion-footer class="ion-no-border project-edit-footer">
  <ion-button expand="block" [disabled]="fg.invalid" (click)="save()">
    Save
  </ion-button>
</ion-footer>
