.home-container {
  display: flex;
  overflow: hidden;
}

.home-header {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
}

.home-content {
  width: 100%;
  margin-bottom: 12px;
  padding: 0 16px;
  overflow: auto;
}

.home-navbar {
  position: fixed;
  background-color: #111010;
  height: 100%;
  padding: 0 12px;
  width: 20%;
}

.home-nav-item {
  &.is-selected {
    --background: #f4f4f4;
  }
}

.menu-add-project-btn {
  margin-top: 16px;
  margin: 16px 20px;
}

.project-title {
  margin-bottom: 8px;
  font-size: 1.6rem;
}
