.dashboard-title {
  font-size: 1.6rem;
  font-weight: 600;
}

.dashboard-project-list {
  padding: 16px;
}

.dashboard-project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dashboard-projectItem {
  display: block;
  height: 140px;
  width: 48%;
  margin: 8px 0;
}

.dashboard-projectItem-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  height: 100%;
  width: 100%;
  background-color: #f3f3f3;
}

.dashboard-projectItemAdd-card {
  display: flex;
  border-radius: 8px;
  border: 2px dashed #535353;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.dashboard-projectItemAdd-card-content {
  text-align: center;
}

.dashboard-projectItem-icon {
  font-size: 32px;
  margin: 20px;
}

.dashboard-projectItem-title {
  margin: 20px;
  font-size: 1.2rem;
}

.dashboard-projectItem-option-icon {
  position: absolute;
  right: 0;
  font-size: 24px;  
}

.dashboard-noProject {
  margin-top: 32px;
  text-align: center;
  width: 100%;
}