<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
    <ion-buttons *ngIf="(projects$ | async)?.length"
                 slot="end">
      <ion-button (click)="addProject()">
        <ion-icon slot="start" name="add-outline"></ion-icon> Project
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="(projects$ | async)?.length; else noProject" lines="none">
    <ion-item *ngFor="let project of projects$ | async"
              (click)="goToProject(project)">
      <div class="dashboard-project-item">
        <ion-icon class="dashboard-project-item-icon"
                  name="clipboard-outline"></ion-icon>
  
        <div class="dashboard-project-item-content">{{ project.title }}</div>
  
        <ion-icon class="dashboard-project-item-option-icon"
                  name="ellipsis-vertical-outline"
                  (click)="presentProjectOptionsPopover($event, project)"></ion-icon>
      </div>
    </ion-item>
  </ion-list>

  <ng-template #noProject>
    <div class="dashboard-noProject">
      <ion-button shape="round"
                  (click)="addProject()">
        <ion-icon slot="start"
                  name="add-outline"></ion-icon> Add a project
      </ion-button>
    </div>
  </ng-template>
</ion-content>
