<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
    <ion-buttons *ngIf="(projects$ | async)?.length"
                 slot="end">
      <ion-button (click)="addProject()">
        <ion-icon slot="start" name="add-outline"></ion-icon> Project
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="(projects$ | async)?.length; else noProject"
        class="dashboard-project-list">
    <div *ngFor="let project of projects$ | async"
          class="dashboard-projectItem"
          (click)="goToProject(project)">
      <div class="dashboard-projectItem-card">
        <ion-icon class="dashboard-projectItem-icon"
                  [name]="project.iconName || 'clipboard-outline'"></ion-icon>

        <div class="dashboard-projectItem-title">{{ project.title }}</div>
      </div>

    </div>
    <div class="dashboard-projectItem"
        (click)="addProject()">
      <div class="dashboard-projectItemAdd-card">
        <div class="dashboard-projectItemAdd-card-content">
          <ion-icon class="dashboard-projectItem-icon"
                    name="add-outline"></ion-icon>
          <div class="dashboard-projectItemAdd-card-subtitle">Add a project</div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noProject>
    <div class="dashboard-noProject">
      <ion-button shape="round"
                  (click)="addProject()">
        <ion-icon slot="start"
                  name="add-outline"></ion-icon> Add a project
      </ion-button>
    </div>
  </ng-template>
</ion-content>
