<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Lists</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="addProject()">
        <ion-icon slot="icon-only"
                  name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="(projects$ | async)?.length; else noProject"
            lines="none"
            class="dashboard-projectList">
    <ion-item *ngFor="let project of projects$ | async"
          class="dashboard-projectItem"
          (click)="goToProject(project)">
      <div class="dashboard-projectItem-img"
           [ngStyle]="{backgroundImage: project.imageName | projectImageUrl}"></div>

      <div class="dashboard-projectItem-title">{{ project.title }}</div>
    </ion-item>
  </ion-list>

  <ng-template #noProject>
    <div class="dashboard-noProject">
      <div class="dashboard-noProject-content">
        <div class="dashboard-noProject-title">No lists</div>
        
        <div class="dashboard-noProject-message">Tap the Add button to create a list</div>
      </div>
    </div>
  </ng-template>
</ion-content>
