.project-header {
  margin-top: 20px;
  margin-left: 16px;
  margin-right: 16px;
}


.project-list {
  margin-right: 12px;
  margin-top: 18px;
}

.project-content {
  margin-left: 16px;
  margin-right: 16px;
}

.project-header-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}

.poject-header-subtitle {
  font-size: 0.6rem;
  color: #aaa;
  font-weight: 600;
}

.project-title {
  display: block;
  color: #353535;
  font-weight: 600;
  font-size: 1.6rem;
}


.project-edit-icon {
  font-size: 24px;
}

.project-add-task {
  font-size: 1rem;
}

.task-list {
  padding-left: 16px;
  padding-right: 16px;
}

.task-item {
  display: flex;
  border: 1px solid #dddddd;
  border-radius: 8px;
  margin-bottom: 8px;
  width: 100%;
  min-height: 44px;

  &.is-done {
    color: #b1b1b1;
    text-decoration-line: line-through;
  }

  &:last-child {
    margin-bottom: 80px;
  }
}

.task-item-title {
  font-weight: 550;
  margin-left: 16px;
  width: 100%;
}

.task-item-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
  font-size: 0.8rem;
}

.project-new-task-btn {
  margin-top: 40px;
}

.menu {
  --width: 240px;
}

.menu-icon {
  font-size: 36px;
  margin-bottom: 16px; 
}

.menu-header {
  display: flex;
  justify-content: flex-end;
  margin: 16px;
}

.menu-setting-icon {
  font-size: 24px;
}

.menu-item-add-project {
  margin-top: 8px;
}

.project-content-add-task {
  margin-top: 32px;
  margin-bottom: 16px;
}

.project-noTask {
  margin-top: 32px;
  text-align: center;
  width: 100%;
}

.task-addItem {
  position: fixed;
  bottom: 8px;
  display: flex;
  width: 100%;
  --padding-start: 8px;
  --padding-end: 0;
}

ion-input.task-addItem-input {
  border: 1px solid #dddddd;;
  border-radius: 20px;
  margin-right: 8px;
  --padding-start: 16px;
  --padding-top: 12px;
  --padding-bottom: 12px;
}

.task-addItem-btn {
  height: 40px;
  width: 40px;
  --border-radius: 50%;
}
