/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

$unit: 4px;
$font-unit: 4pt;

* {
  font-family: 'DM Sans', Verdana, Tahoma, sans-serif;
}

ion-button {
  text-transform: none;
}

ion-toolbar {
  color: #2c2c2c;
}

ion-title {
  color: #1b1c1e;
}

.no-inner-padding-end {
  --inner-padding-end: 0;
}

.font-size-4 {
  font-size: $font-unit * 4;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.pl-2 {
  padding-left: $unit * 2;
}

.pl-4 {
  padding-left: $unit * 4;
}

.mt-2 {
  margin-top: $unit * 2;
}

.mt-4 {
  margin-top: $unit * 4;
}

.mr-2 {
  margin-right: $unit * 2;
}

.mr-3 {
  margin-right: $unit * 3;
}

.mr-4 {
  margin-right: $unit * 4;
}

.ml-2 {
  margin-left: $unit * 2;
}

.ml-4 {
  margin-left: $unit * 4;
}

.ml-7 {
  margin-left: $unit * 7;
}

.z-index-2 {
  z-index: 2;
}

.absolute {
  position: absolute;
}

.flex-spaceBetween {
  display: flex;
  justify-content: space-between;
}

.icon-size-1 {
  font-size: 8px;
}