.home-container {
  display: flex;
  overflow: hidden;
}

.home-header {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
}

.home-content {
  width: 100%;
  margin-bottom: 12px;
  padding: 0 16px;
  overflow: auto;
}

.home-title {
  display: block;
  color: #88898a;
  font-weight: 600;
  font-size: .8rem;
}

.home-navbar {
  position: fixed;
  background-color: #111010;
  height: 100%;
  padding: 0 12px;
  width: 20%;
}

.home-navbar-toggle {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.home-navbar-toggle-icon {
  color: #fff;
  font-size: 40px;
}

.home-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60%;
  margin-top: 84px;
}

.home-nav-item {
  &.is-selected {
    color: #3d3b3b;
  }
}

.menu {
  --width: 240px;
}

.menu-icon {
  font-size: 24px;
}

.menu-header {
  display: flex;
  justify-content: flex-end;
  margin: 16px;
}

.menu-setting-icon {
  font-size: 24px;
}

.menu-add-project-btn {
  margin-top: 16px;
  margin: 16px 20px;
}