
<ion-content [fullscreen]="true">
  <ion-menu side="start" menuId="menu" class="menu" contentId="main">
    <ion-content [fullscreen]="true">
      <header class="menu-header">
        <ion-icon class="menu-setting-icon" name="settings-sharp"></ion-icon>
      </header>
      <ion-list>
        <ion-item *ngFor="let project of projects$ | async"
                  class="home-nav-item"
                  [class.is-selected]="(selectedProject$ | async)?.id === project.id"
                  (click)="handleSelectedProject(project)">{{ project.title }}</ion-item>

        <ion-item class="menu-item-add-project"
                  lines="none"
                  (click)="addProject()">+ Add Project</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <header class="home-header">
    <ion-icon class="menu-icon"
              name="menu"
              (click)="openMenu()"></ion-icon>
  </header>

  <div id="main">
    <app-project *ngIf="(selectedProject$ | async)"
                 [project]="selectedProject$ | async"></app-project>
  </div>
</ion-content>