.home-container {
  display: flex;
  overflow: hidden;
}

.home-header {
  margin-top: 16px;
  margin-left: 16px;
}

.home-content {
  width: 100%;
  margin-bottom: 12px;
  padding: 0 16px;
  overflow: auto;
}

.project-header {
  margin-bottom: 24px;
  margin-top: 20px;
}

.home-title {
  display: block;
  color: #88898a;
  font-weight: 600;
  font-size: .8rem;
}

.project-list {
  margin-right: 12px;
  margin-top: 18px;
}

.task-item {
  border: 1px solid #eee;
  border-radius: 8px;
  min-height: 72px;
  padding: 12px;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 100%;

  &.is-completed {
    color: #444;
  }

  &.is-menu-out {
    margin-right: 20%;
  }
}

.task-item-header {
  display: flex;
  justify-content: space-between;
}


.task-item-title {
  font-weight: 550;
}

.task-item-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
  font-size: 0.8rem;
}

.task-item- {
  border: 1px solid #eee;
  border-radius: 8px;
  min-height: 100px;
  padding: 16px;
}

.project-title {
  display: block;
  margin-top: 8px;
  color: #111;
  font-weight: 600;
  font-size: 2.4rem;
}

.project-title {
  margin-top: 8px;
  color: #353535;
  font-weight: 600;
  font-size: 2.4rem;
}

.home-navbar {
  position: fixed;
  background-color: #111010;
  height: 100%;
  padding: 0 12px;
  width: 20%;
}

.home-navbar-toggle {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.home-navbar-toggle-icon {
  color: #fff;
  font-size: 40px;
}

.home-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60%;
  margin-top: 84px;
}

.home-nav-item {
  &.is-selected {
    color: #3d3b3b;
  }
}

.project-new-task-btn {
  margin-top: 40px;
}

.menu {
  --width: 240px;
}

.menu-icon {
  font-size: 36px;
}

.menu-header {
  display: flex;
  justify-content: flex-end;
  margin: 16px;
}

.menu-setting-icon {
  font-size: 24px;
}

.menu-item-add-project {
  margin-top: 8px;
}