<ion-content [fullscreen]="true">
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
  
      <ion-title>{{ (selectedProject$ | async)?.title }}</ion-title>
  
      <ion-buttons slot="end">
        <ion-button (click)="editProject()">
          <ion-icon slot="icon-only"
                    name="create-outline"></ion-icon>
        </ion-button>
        
        <ion-button>
          <ion-icon slot="icon-only"
                    name="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>

  <ion-menu side="start" menuId="menu" class="menu" contentId="main">
    <ion-content [fullscreen]="true">
      <header class="menu-header">
          <ion-icon class="menu-setting-icon"
                    slot="icon-only"
                    name="settings-sharp"></ion-icon>
      </header>
      <ion-list>
        <ion-item *ngFor="let project of projects$ | async"
                  class="home-nav-item"
                  [class.is-selected]="(selectedProject$ | async)?.id === project.id"
                  (click)="handleSelectedProject(project)">{{ project.title }}</ion-item>

        <ion-item class="menu-item-add-project"
                  lines="none"
                  (click)="addProject()">+ Add Project</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div id="main">
    <app-project *ngIf="(selectedProject$ | async)"
                 [project]="selectedProject$ | async"></app-project>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addTask()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>