.checkbox {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #b1b1b1;
  border-radius: 50%;
  height: 24px;
  width: 24px;

  &.is-checked {
    border: 1px solid #fff;
    background-color: #1f1f1f;
  }
}

.checkbox-icon {
  color: #fff;
  font-size: 20px;
}

